# Team Task - 3

In [1]:
import pandas as pd

Reading csv datasets one by one to dataframes and displaying them! 
- Population dataset
- Confirmed cases dataset
- Deaths dataset

In [2]:
county_population = pd.read_csv("../../../data/stage_1/covid_county_population_usafacts.csv")
population = pd.DataFrame(county_population)

In [3]:
population

      countyFIPS            County Name State  population
0              0  Statewide Unallocated    AL           0
1           1001         Autauga County    AL       55869
2           1003         Baldwin County    AL      223234
3           1005         Barbour County    AL       24686
4           1007            Bibb County    AL       22394
...          ...                    ...   ...         ...
3190       56037      Sweetwater County    WY       42343
3191       56039           Teton County    WY       23464
3192       56041           Uinta County    WY       20226
3193       56043        Washakie County    WY        7805
3194       56045          Weston County    WY        6927

[3195 rows x 4 columns]

Checking datatypes to make variable dictionary for task - 2

In [4]:
population.dtypes

countyFIPS      int64
County Name    object
State          object
population      int64
dtype: object

In [5]:
covid_confirmed = pd.read_csv("../../../data/stage_1/covid_confirmed_usafacts.csv")
confirmed = pd.DataFrame(covid_confirmed)

In [6]:
confirmed.dtypes

countyFIPS      int64
County Name    object
State          object
StateFIPS       int64
2020-01-22      int64
                ...
2021-08-12      int64
2021-08-13      int64
2021-08-14      int64
2021-08-15      int64
2021-08-16      int64
Length: 577, dtype: object

In [7]:
covid_deaths = pd.read_csv("../../../data/stage_1/covid_deaths_usafacts.csv")
deaths = pd.DataFrame(covid_deaths)

In [8]:
deaths

,countyFIPS,County Name,State,StateFIPS,2020-01-22,2020-01-23,2020-01-24,2020-01-25,2020-01-26,2020-01-27,...,2021-08-07,2021-08-08,2021-08-09,2021-08-10,2021-08-11,2021-08-12,2021-08-13,2021-08-14,2021-08-15,2021-08-16
0,0,Statewide Unallocated,AL,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1001,Autauga County,AL,1,0,0,0,0,0,0,...,114,114,114,114,114,114,114,114,114,114
2,1003,Baldwin County,AL,1,0,0,0,0,0,0,...,330,330,330,332,338,342,344,344,344,347
3,1005,Barbour County,AL,1,0,0,0,0,0,0,...,63,63,63,63,64,64,65,65,65,65
4,1007,Bibb County,AL,1,0,0,0,0,0,0,...,66,66,66,66,67,67,67,67,67,67
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3188,56037,Sweetwater County,WY,56,0,0,0,0,0,0,...,45,45,45,45,45,45,45,45,45,45
3189,56039,Teton County,WY,56,0,0,0,0,0,0,...,11,11,11,11,11,11,11,11,11,11
3190,56041,Uinta County,WY,56,0,0,0,0,0,0,...,14,14,14,14,14,14,14,14,14,14
3191,56043,Washakie County,WY,56,0,0,0,0,0,0,...,26,26,26,26,26,26,26,26,26,26
3192,56045,Weston County,WY,56,0,0,0,0,0,0,...,6,6,6,6,6,6,6,6,6,6

In [9]:
deaths.dtypes

countyFIPS      int64
County Name    object
State          object
StateFIPS       int64
2020-01-22      int64
                ...
2021-08-12      int64
2021-08-13      int64
2021-08-14      int64
2021-08-15      int64
2021-08-16      int64
Length: 577, dtype: object

Before merging three datasets to super covid dataset. We have to check for common columns and look for anomalies in datasets.<br>
*Here we are performing inner merge on ("countyFIPS","County Name","State","StateFIPS") columns of confirmed cases and deaths datasets.* <br>
Displaying the result.

In [10]:
confirmed_2 = confirmed.copy()
population_2 = population.copy()
deaths_2 = deaths.copy()
population_2

      countyFIPS            County Name State  population
0              0  Statewide Unallocated    AL           0
1           1001         Autauga County    AL       55869
2           1003         Baldwin County    AL      223234
3           1005         Barbour County    AL       24686
4           1007            Bibb County    AL       22394
...          ...                    ...   ...         ...
3190       56037      Sweetwater County    WY       42343
3191       56039           Teton County    WY       23464
3192       56041           Uinta County    WY       20226
3193       56043        Washakie County    WY        7805
3194       56045          Weston County    WY        6927

[3195 rows x 4 columns]

In [11]:
combined_1 = pd.merge(confirmed,deaths,on=["countyFIPS","County Name","State","StateFIPS"])

In [12]:
combined_1

,countyFIPS,County Name,State,StateFIPS,2020-01-22_x,2020-01-23_x,2020-01-24_x,2020-01-25_x,2020-01-26_x,2020-01-27_x,...,2021-08-07_y,2021-08-08_y,2021-08-09_y,2021-08-10_y,2021-08-11_y,2021-08-12_y,2021-08-13_y,2021-08-14_y,2021-08-15_y,2021-08-16_y
0,0,Statewide Unallocated,AL,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1001,Autauga County,AL,1,0,0,0,0,0,0,...,114,114,114,114,114,114,114,114,114,114
2,1003,Baldwin County,AL,1,0,0,0,0,0,0,...,330,330,330,332,338,342,344,344,344,347
3,1005,Barbour County,AL,1,0,0,0,0,0,0,...,63,63,63,63,64,64,65,65,65,65
4,1007,Bibb County,AL,1,0,0,0,0,0,0,...,66,66,66,66,67,67,67,67,67,67
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3188,56037,Sweetwater County,WY,56,0,0,0,0,0,0,...,45,45,45,45,45,45,45,45,45,45
3189,56039,Teton County,WY,56,0,0,0,0,0,0,...,11,11,11,11,11,11,11,11,11,11
3190,56041,Uinta County,WY,56,0,0,0,0,0,0,...,14,14,14,14,14,14,14,14,14,14
3191,56043,Washakie County,WY,56,0,0,0,0,0,0,...,26,26,26,26,26,26,26,26,26,26
3192,56045,Weston County,WY,56,0,0,0,0,0,0,...,6,6,6,6,6,6,6,6,6,6

In [13]:
combined_1.dtypes

countyFIPS       int64
County Name     object
State           object
StateFIPS        int64
2020-01-22_x     int64
                 ...
2021-08-12_y     int64
2021-08-13_y     int64
2021-08-14_y     int64
2021-08-15_y     int64
2021-08-16_y     int64
Length: 1150, dtype: object

*Here we are performing inner merge on ("countyFIPS",State") columns of previously combined dataset and population datasets.* <br>
Displaying the result.

In [14]:
final_combined = pd.merge(combined_1,population, on=['countyFIPS','State'])

In [15]:
final_combined

,countyFIPS,County Name_x,State,StateFIPS,2020-01-22_x,2020-01-23_x,2020-01-24_x,2020-01-25_x,2020-01-26_x,2020-01-27_x,...,2021-08-09_y,2021-08-10_y,2021-08-11_y,2021-08-12_y,2021-08-13_y,2021-08-14_y,2021-08-15_y,2021-08-16_y,County Name_y,population
0,0,Statewide Unallocated,AL,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,Statewide Unallocated,0
1,1001,Autauga County,AL,1,0,0,0,0,0,0,...,114,114,114,114,114,114,114,114,Autauga County,55869
2,1003,Baldwin County,AL,1,0,0,0,0,0,0,...,330,332,338,342,344,344,344,347,Baldwin County,223234
3,1005,Barbour County,AL,1,0,0,0,0,0,0,...,63,63,64,64,65,65,65,65,Barbour County,24686
4,1007,Bibb County,AL,1,0,0,0,0,0,0,...,66,66,67,67,67,67,67,67,Bibb County,22394
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3188,56037,Sweetwater County,WY,56,0,0,0,0,0,0,...,45,45,45,45,45,45,45,45,Sweetwater County,42343
3189,56039,Teton County,WY,56,0,0,0,0,0,0,...,11,11,11,11,11,11,11,11,Teton County,23464
3190,56041,Uinta County,WY,56,0,0,0,0,0,0,...,14,14,14,14,14,14,14,14,Uinta County,20226
3191,56043,Washakie County,WY,56,0,0,0,0,0,0,...,26,26,26,26,26,26,26,26,Washakie County,7805
3192,56045,Weston County,WY,56,0,0,0,0,0,0,...,6,6,6,6,6,6,6,6,Weston County,6927

Finally, combined (merge of three datasets) dataset is saved as large_covid.csv file in given path for further analysis.

In [16]:
final_combined.to_csv("../../../data/stage_1/large_covid.csv",index = False)

Converting the data from wide format to long format

In [17]:
confirmed_1 = confirmed
confirmed_1 = df = pd.melt(frame = confirmed_1, id_vars=['countyFIPS','County Name','State','StateFIPS'], var_name= ['Date'], value_name= "Cases")
confirmed_1

         countyFIPS            County Name State  StateFIPS        Date  Cases
0                 0  Statewide Unallocated    AL          1  2020-01-22      0
1              1001        Autauga County     AL          1  2020-01-22      0
2              1003        Baldwin County     AL          1  2020-01-22      0
3              1005        Barbour County     AL          1  2020-01-22      0
4              1007           Bibb County     AL          1  2020-01-22      0
...             ...                    ...   ...        ...         ...    ...
1829584       56037     Sweetwater County     WY         56  2021-08-16   5127
1829585       56039          Teton County     WY         56  2021-08-16   4068
1829586       56041          Uinta County     WY         56  2021-08-16   2593
1829587       56043       Washakie County     WY         56  2021-08-16    967
1829588       56045         Weston County     WY         56  2021-08-16    705

[1829589 rows x 6 columns]

In [18]:

deaths_1 = deaths
deaths_1 = pd.melt(frame = deaths_1, id_vars=['countyFIPS','County Name','State','StateFIPS'], var_name= ['Date'], value_name= "Death")
deaths_1

         countyFIPS            County Name State  StateFIPS        Date  Death
0                 0  Statewide Unallocated    AL          1  2020-01-22      0
1              1001        Autauga County     AL          1  2020-01-22      0
2              1003        Baldwin County     AL          1  2020-01-22      0
3              1005        Barbour County     AL          1  2020-01-22      0
4              1007           Bibb County     AL          1  2020-01-22      0
...             ...                    ...   ...        ...         ...    ...
1829584       56037     Sweetwater County     WY         56  2021-08-16     45
1829585       56039          Teton County     WY         56  2021-08-16     11
1829586       56041          Uinta County     WY         56  2021-08-16     14
1829587       56043       Washakie County     WY         56  2021-08-16     26
1829588       56045         Weston County     WY         56  2021-08-16      6

[1829589 rows x 6 columns]

Cleaning the data

In [19]:
population = population.drop('County Name',1)
population.rename(columns = {'population':'Population'}, inplace = True)

/var/folders/q4/d0z8tvws1d3fd6zmyfthqwv40000gn/T/ipykernel_43092/2966743242.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  population = population.drop('County Name',1)

Merging the data

In [20]:
combined_2 = pd.merge(confirmed_1,deaths_1,
        on = ['countyFIPS','County Name',"State",'StateFIPS',"Date"])

In [21]:
final_combined_long= pd.merge(combined_2,population,
        on = ['countyFIPS',"State"])

In [22]:
final_combined_long["Date"]= pd.to_datetime(final_combined_long["Date"])

In [23]:
final_combined_long

,countyFIPS,County Name,State,StateFIPS,Date,Cases,Death,Population
0,0,Statewide Unallocated,AL,1,2020-01-22,0,0,0
1,0,Statewide Unallocated,AL,1,2020-01-23,0,0,0
2,0,Statewide Unallocated,AL,1,2020-01-24,0,0,0
3,0,Statewide Unallocated,AL,1,2020-01-25,0,0,0
4,0,Statewide Unallocated,AL,1,2020-01-26,0,0,0
...,...,...,...,...,...,...,...,...
1829584,56045,Weston County,WY,56,2021-08-12,700,6,6927
1829585,56045,Weston County,WY,56,2021-08-13,700,6,6927
1829586,56045,Weston County,WY,56,2021-08-14,705,6,6927
1829587,56045,Weston County,WY,56,2021-08-15,705,6,6927
1829588,56045,Weston County,WY,56,2021-08-16,705,6,6927

In [24]:
final_combined_long.to_csv("../../../data/stage_1/long_large_covid.csv",index = False)

In [25]:
 #identify indices with values to remove
ind = population_2[population_2['countyFIPS'] == 0].index

# Drop identified indices from core data
population_2.drop(ind, inplace= True)

# Display clean DataFrame
#population_2

 #identify indices with values to remove
#ind1 = confirmed_2[confirmed_2['countyFIPS'] == 0].index

# Drop identified indices from core data
#confirmed_2.drop(ind1, inplace= True)

# Display clean DataFrame
confirmed_2 = confirmed[confirmed['County Name']!= 'Statewide Unallocated']
confirmed_2

,countyFIPS,County Name,State,StateFIPS,2020-01-22,2020-01-23,2020-01-24,2020-01-25,2020-01-26,2020-01-27,...,2021-08-07,2021-08-08,2021-08-09,2021-08-10,2021-08-11,2021-08-12,2021-08-13,2021-08-14,2021-08-15,2021-08-16
1,1001,Autauga County,AL,1,0,0,0,0,0,0,...,7694,7694,7788,7818,7854,7890,7931,7931,7931,8061
2,1003,Baldwin County,AL,1,0,0,0,0,0,0,...,26822,26822,27477,27736,28020,28358,28629,28629,28629,29234
3,1005,Barbour County,AL,1,0,0,0,0,0,0,...,2585,2585,2629,2649,2681,2699,2732,2732,2732,2761
4,1007,Bibb County,AL,1,0,0,0,0,0,0,...,2973,2973,3016,3034,3056,3069,3095,3095,3095,3129
5,1009,Blount County,AL,1,0,0,0,0,0,0,...,7542,7542,7603,7631,7658,7696,7758,7758,7758,7833
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3188,56037,Sweetwater County,WY,56,0,0,0,0,0,0,...,5056,5056,5056,5090,5090,5108,5114,5127,5127,5127
3189,56039,Teton County,WY,56,0,0,0,0,0,0,...,3960,3960,3960,4003,4003,4014,4044,4068,4068,4068
3190,56041,Uinta County,WY,56,0,0,0,0,0,0,...,2498,2498,2498,2538,2538,2543,2559,2593,2593,2593
3191,56043,Washakie County,WY,56,0,0,0,0,0,0,...,950,950,950,958,958,960,968,967,967,967
3192,56045,Weston County,WY,56,0,0,0,0,0,0,...,694,694,694,699,699,700,700,705,705,705

In [26]:
#Changin from float to string to help with processing
population_2['countyFIPS'] = deaths['countyFIPS'].astype(str)
population_2['StateFIPS'] = deaths['StateFIPS'].astype(str)

confirmed_2['countyFIPS'] = confirmed['countyFIPS'].astype(str)
confirmed_2['StateFIPS'] = confirmed['StateFIPS'].astype(str)

deaths_2['countyFIPS'] = deaths['countyFIPS'].astype(str)
deaths_2['StateFIPS'] = deaths['StateFIPS'].astype(str)
population_2

/var/folders/q4/d0z8tvws1d3fd6zmyfthqwv40000gn/T/ipykernel_43092/1108403427.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  confirmed_2['countyFIPS'] = confirmed['countyFIPS'].astype(str)
/var/folders/q4/d0z8tvws1d3fd6zmyfthqwv40000gn/T/ipykernel_43092/1108403427.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  confirmed_2['StateFIPS'] = confirmed['StateFIPS'].astype(str)

     countyFIPS        County Name State  population StateFIPS
1          1001     Autauga County    AL       55869         1
2          1003     Baldwin County    AL      223234         1
3          1005     Barbour County    AL       24686         1
4          1007        Bibb County    AL       22394         1
5          1009      Blount County    AL       57826         1
...         ...                ...   ...         ...       ...
3190      56041  Sweetwater County    WY       42343        56
3191      56043       Teton County    WY       23464        56
3192      56045       Uinta County    WY       20226        56
3193        NaN    Washakie County    WY        7805       NaN
3194        NaN      Weston County    WY        6927       NaN

[3144 rows x 5 columns]

In [27]:
#get popultation of each county
population_df = population_2[population_2.columns[3:4]]

#get total deaths by county
total_deaths = deaths_2[deaths_2.columns[576:577]]

#get total cases by county 
total_cases = confirmed_2[confirmed_2.columns[576:577]]

#get data that exisits between all dataframes
confirmed_df = confirmed_2[confirmed_2.columns[0:4]]

In [32]:
df1 = pd.concat([confirmed_df, total_cases, total_deaths, population_df], axis = 1)

#renaming columns
df1.columns =['countyFIPS', 'County Name', 'State', 'StateFIPS', 'Total Cases', 'Total Deaths','Population']
df1

,countyFIPS,County Name,State,StateFIPS,Total Cases,Total Deaths,Population
0,NaN,NaN,NaN,NaN,NaN,0.0,NaN
1,1001,Autauga County,AL,1,8061.0,114.0,55869.0
2,1003,Baldwin County,AL,1,29234.0,347.0,223234.0
3,1005,Barbour County,AL,1,2761.0,65.0,24686.0
4,1007,Bibb County,AL,1,3129.0,67.0,22394.0
...,...,...,...,...,...,...,...
3190,56041,Uinta County,WY,56,2593.0,14.0,42343.0
3191,56043,Washakie County,WY,56,967.0,26.0,23464.0
3192,56045,Weston County,WY,56,705.0,6.0,20226.0
3193,NaN,NaN,NaN,NaN,NaN,NaN,7805.0
3194,NaN,NaN,NaN,NaN,NaN,NaN,6927.0

In [33]:
df_final = df1.dropna(how = 'any')
df_final

,countyFIPS,County Name,State,StateFIPS,Total Cases,Total Deaths,Population
1,1001,Autauga County,AL,1,8061.0,114.0,55869.0
2,1003,Baldwin County,AL,1,29234.0,347.0,223234.0
3,1005,Barbour County,AL,1,2761.0,65.0,24686.0
4,1007,Bibb County,AL,1,3129.0,67.0,22394.0
5,1009,Blount County,AL,1,7833.0,141.0,57826.0
...,...,...,...,...,...,...,...
3188,56037,Sweetwater County,WY,56,5127.0,45.0,30485.0
3189,56039,Teton County,WY,56,4068.0,11.0,9831.0
3190,56041,Uinta County,WY,56,2593.0,14.0,42343.0
3191,56043,Washakie County,WY,56,967.0,26.0,23464.0
3192,56045,Weston County,WY,56,705.0,6.0,20226.0

In [35]:
df_final = df_final[df_final['County Name']!='Statewide Unallocated']
df_final

,countyFIPS,County Name,State,StateFIPS,Total Cases,Total Deaths,Population
1,1001,Autauga County,AL,1,8061.0,114.0,55869.0
2,1003,Baldwin County,AL,1,29234.0,347.0,223234.0
3,1005,Barbour County,AL,1,2761.0,65.0,24686.0
4,1007,Bibb County,AL,1,3129.0,67.0,22394.0
5,1009,Blount County,AL,1,7833.0,141.0,57826.0
...,...,...,...,...,...,...,...
3188,56037,Sweetwater County,WY,56,5127.0,45.0,30485.0
3189,56039,Teton County,WY,56,4068.0,11.0,9831.0
3190,56041,Uinta County,WY,56,2593.0,14.0,42343.0
3191,56043,Washakie County,WY,56,967.0,26.0,23464.0
3192,56045,Weston County,WY,56,705.0,6.0,20226.0

In [36]:
df_final.to_csv("../../../data/stage_1/final_covid.csv",index = False)